/* https://codepen.io/gurprit/pen/VLzQoK */
#beer {
  position: relative;
  right: 125px;
  bottom: 52px;
}

#beer:after {
  position: absolute;
  z-index: 5;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow:36px 120px #c4cfd6,42px 120px #c4cfd6,48px 120px #c4cfd6,54px 120px #c4cfd6,60px 120px #c4cfd6,66px 120px #c4cfd6,72px 120px #c4cfd6,78px 120px #c4cfd6,30px 114px #c4cfd6,30px 108px #c4cfd6,30px 102px #c4cfd6,30px 96px #c4cfd6,30px 90px #c4cfd6,30px 84px #c4cfd6,84px 114px #c4cfd6,84px 108px #c4cfd6,84px 96px #c4cfd6,84px 102px #c4cfd6,84px 90px #c4cfd6,84px 84px #c4cfd6,84px 78px #c4cfd6,84px 72px #c4cfd6,30px 78px #c4cfd6,30px 72px #c4cfd6,90px 108px #c4cfd6,96px 102px #c4cfd6,96px 96px #c4cfd6,96px 90px #c4cfd6,96px 84px #c4cfd6,96px 78px #c4cfd6,96px 72px #c4cfd6,96px 66px #c4cfd6,36px 114px #d7a52e,66px 114px #d7a52e,54px 114px #d7a52e,42px 114px #d7a52e,48px 114px #d7a52e,60px 114px #d7a52e,72px 114px #d7a52e,78px 114px #d7a52e,78px 78px #d7a52e,78px 84px #d7a52e,78px 90px #d7a52e,78px 96px #d7a52e,78px 102px #d7a52e,78px 108px #d7a52e,72px 108px #d7a52e,60px 108px #d7a52e,36px 108px #d7a52e,36px 102px #d7a52e,36px 96px #d7a52e,36px 90px #d7a52e,36px 84px #d7a52e,36px 78px #d7a52e,36px 66px #d7a52e,42px 66px #d7a52e,48px 66px #d7a52e,54px 66px #d7a52e,72px 72px #d7a52e,72px 78px #d7a52e,72px 84px #d7a52e,72px 90px #d7a52e,72px 102px #d7a52e,66px 108px #d7a52e,66px 102px #d7a52e,66px 96px #d7a52e,72px 96px #d7a52e,66px 84px #d7a52e,66px 78px #d7a52e,66px 72px #d7a52e,36px 72px #d7a52e,42px 72px #d7a52e,48px 72px #d7a52e,54px 72px #d7a52e,60px 72px #d7a52e,60px 78px #d7a52e,60px 84px #d7a52e,60px 90px #d7a52e,66px 90px #d7a52e,60px 96px #d7a52e,60px 102px #d7a52e,54px 108px #d7a52e,48px 102px #d7a52e,48px 96px #d7a52e,48px 90px #d7a52e,48px 84px #d7a52e,42px 78px #d7a52e,42px 84px #d7a52e,42px 102px #d7a52e,42px 108px #d7a52e,48px 108px #d7a52e,54px 102px #d7a52e,54px 96px #d7a52e,54px 90px #d7a52e,54px 84px #d7a52e,54px 78px #d7a52e,48px 78px #d7a52e,42px 90px #d7a52e,42px 96px #d7a52e,30px 60px #ebe7be,30px 54px #ebe7be,30px 48px #ebe7be,36px 60px #ebe7be,36px 54px #ebe7be,36px 48px #ebe7be,36px 42px #ebe7be,30px 66px #ebe7be,42px 60px #ebe7be,54px 60px #ebe7be,48px 60px #ebe7be,60px 60px #ebe7be,78px 60px #ebe7be,66px 60px #ebe7be,72px 60px #ebe7be,84px 60px #ebe7be,84px 66px #ebe7be,78px 66px #ebe7be,72px 66px #ebe7be,66px 66px #ebe7be,60px 66px #ebe7be,78px 72px #ebe7be,84px 54px #ebe7be,42px 42px #ebe7be,48px 42px #ebe7be,54px 42px #ebe7be,60px 42px #ebe7be,66px 42px #ebe7be,72px 42px #ebe7be,78px 48px #ebe7be,72px 54px #ebe7be,78px 54px #ebe7be,72px 48px #ebe7be,66px 48px #ebe7be,54px 48px #ebe7be,48px 48px #ebe7be,42px 48px #ebe7be,54px 54px #ebe7be,60px 54px #ebe7be,66px 54px #ebe7be,60px 48px #ebe7be,48px 54px #ebe7be,42px 54px #ebe7be,90px 60px #c4cfd6;
}

#beer:before {
  position:absolute;
  z-index:10;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow:78px 72px #ebe7be;
  -webkit-animation: beer-droplet 3s 0s infinite;
}

@-webkit-keyframes beer-droplet{
  0%{ box-shadow:78px 72px #ebe7be;}
  50%{ box-shadow:78px 130px #ebe7be;}
  100%{ box-shadow:78px 72px #ebe7be; opacity:0}
}
