body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

#main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #FEF;
}

#reset-button {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #FEF;
  transition: background-color 0.5s;
  font-weight: 300;
  font-size: 1.2em;
} #reset-button:hover {
  background-color: #EEE;
  cursor: pointer;
}

#display {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#title {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 15px;
}

#teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  font-size: 5em;
  font-weight: 300;
}

.teams-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  transition: opacity 1s;
} .teams-side:hover {
  opacity: 0.7;
}
.teams-side.left {
  background-color: #6CC0E5;
}
.teams-side.right {
  background-color: #FB4F4F;
}

.teams-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 100;
  padding-bottom: 10px;
}
.teams-title.left {
  background-color: #66B7DA;
}
.teams-title.right {
  background-color: #EF4B4B;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 5em;
  animation: fadein 0.5s;
  font-weight: 100;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#background {
  width: 100vw;
  height: 100vh;
}

#background.grey {
  background-color: grey;
  transition: background-color 0.5s;
}

#background.blue {
  background-color: blue;
  transition: background-color 0.5s;
}

#background.red {
  background-color: red;
  transition: background-color 0.5s;
}
